.col {
  border: #ddd 3px solid;
  height: 110px;
  width: 110px;
  text-align: center;
}

.container {
  text-align: center;
}

table {
    width: 330px;
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

#turn {
  font-size: 24px;
}

#error {
  font-size: 18px;
  color: #dd5555;
}

.row:first-child {
  border-left: #fff 0 solid;
}

.row:last-child {
  border-right: #fff 0 solid;
}